{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task manager</title>
    <link rel="stylesheet" href="{% static 'managePage/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'managePage/css/bootstrap-theme.css' %}">
    <link rel="stylesheet" href="{% static 'managePage/css/style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'managePage/favicon.ico' %}"/>
</head>
<body>
<nav class="navbar">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10">
                <h3 id="greetings" class="navbar-text">Wellcome {{ user.username }}!</h3>
            </div>
            <div class="col-md-2">
                {% if user.is_anonymous %}
                <div class="container">
                    <button type="button" id="login" class="btn btn-primary mr-sm-2 navbar-btn " data-toggle="popover">
                        Log in
                    </button>

                    <div id="popover-login-form" class="hide">
                        <form id="login-form" method="post">{% csrf_token %}
                            <div class="form-group">
                                <label for="logInUsername">Nickname</label>
                                <input type="text" name="username" id="logInUsername" form="login-form" class="form-control" placeholder="Nickname">
                            </div>
                            <div class="form-group">
                                <label for="loginPassword">Password</label>
                                <input type="password" name="password" id="loginPassword" form="login-form" class="form-control"
                                       placeholder="*******">
                            </div>
                            <button type="submit" class="btn btn-primary mr-sm-2">Login</button>
                        </form>
                    </div>

                </div>
                {% else %}
                {% if user.is_authenticated %}
                {% if user.is_superuser %}
                <a href="/admin/" class="btn btn-primary mr-sm-2 navbar-btn" role="button"
                   aria-pressed="true">Admin page</a>
                {% endif %}
                <a href="{% url 'logout' %}" class="btn btn-primary mr-sm-2 navbar-btn" role="button"
                   aria-pressed="true">LogOut</a>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</nav>

{% if user.is_authenticated %}
{% block content %}
{% endblock content%}

<button type="button" id="addToDoList" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#projectModalAdd">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add TODO List
</button>

{% else %}
<div class="container">
    <div class="jumbotron jumbotron-codelines">
        <div class="container-lg p-responsive position-relative">
            <div class="d-md-flex flex-items-center gutter-md-spacious">
                <div class="col-md-7 text-center text-md-left ">
                    <h1 class="alt-h0 text-white lh-condensed-ultra mb-3">Simple To-Do list</h1>
                    <p class="alt-lead mb-4">
                        This is my own web application, designed for management personal projects.
                        It's may help control tasks in projects.
                    </p>
                </div>
                <div class="mx-auto col-sm-8 col-md-5 hide-sm">
                    <div class="rounded-1 text-gray bg-gray-light py-4 px-4 px-md-3 px-lg-4">
                        <!-- '"` --><!-- </textarea></xmp> -->
                        <form id="createUser" accept-charset="UTF-8"  autocomplete="off"
                              class="home-hero-signup js-signup-form" method="post">{% csrf_token %}

                            <dl class="form-group mt-0">
                                <dt class="input-label">
                                    <label class="form-label f5" for="user[login]">Username</label>
                                </dt>
                                <dd>
                                    <input name="username" form="createUser" id="user[login]"
                                           class="form-control form-control-lg input-block"
                                           placeholder="Pick a username"
                                           autofocus="" type="text" required>
                                </dd>
                            </dl>
                            <dl class="form-group">
                                <dt class="input-label">
                                    <label class="form-label f5" for="user[email]">Email</label>
                                </dt>
                                <dd>
                                    <input name="email" form="createUser" id="user[email]"
                                           class="form-control form-control-lg input-block js-email-notice-trigger"
                                           placeholder="you@example.com"
                                           type="email" required>
                                </dd>
                            </dl>
                            <dl class="form-group">
                                <dt class="input-label">
                                    <label class="form-label f5" for="user[password]">Password</label>
                                </dt>
                                <dd>
                                    <input name="password" form="createUser" id="user[password]"
                                           class="form-control form-control-lg input-block"
                                           placeholder="Create a password"
                                           type="password" pattern="[A-Za-z-0-9]{9,}" required>
                                </dd>
                                <p class="form-control-note">Use at least one letter, one numeral, and seven
                                    characters.</p>
                            </dl>

                            <button class="btn btn-primary btn-large f4 btn-block" type="submit"
                            >Sign up for TaskManager
                            </button>
                            <p class="form-control-note mb-0 text-center">
                                By clicking "Sign up for TaskManager", you agree to do all what you want. This is open
                                source project.
                            </p>

                        </form>
                    </div>
                </div>
                <blockquote>
                    <p style="font-size: 12px;">“You can't make up for lost time. You can only do better in the
                        future.”</p>
                    <footer style="font-size: 10px;">Ashley Ormon</footer>
                </blockquote>
            </div>
        </div>
    </div>
</div>
{% endif%}
<script src="{% static 'managePage/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'managePage/js/bootstrap.min.js' %}"></script>
<script src="{% static 'managePage/js/script.js' %}"></script>
<script src="{% static 'managePage/js/project.js' %}"></script>
<script src="{% static 'managePage/js/task.js' %}"></script>
</body>
</html>