{% for project in projects_list %}

<form class="todo-content" id="navbar{{project.id}}" method="post">{% csrf_token %}
    <nav class="navbar projectbar">
        <div class="row">
            <div class="container-fluid">
                <div class="col-md-11">
                    <h3 class="navbar-text project-name chevron" data-toggle="collapse"
                        href="#collapse{{project.id}}">
                        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></h3>
                    <h3 class="navbar-text project-name">
                        <span class="glyphicon glyphicon-list" aria-hidden="true"></span></h3>
                    <h3 class="navbar-text project-name" id="Project{{project.id}}Text">
                        {{project.project_name}}</h3>
                    <div class="form-group navbar-text" style="margin-top:15px;width:84%"
                         id="Project{{project.id}}UpdateForm" hidden>
                        {% csrf_token %}
                        <input type="text" placeholder="Change your project" name="updatedProjectName"
                               style="width:85%">
                        <input type="hidden" name="id" value="{{project.id}}">
                        <button class="btn btn-sm btn-default newTaskButton" id="Project{{project.id}}Update"
                                onclick="updateProjectSend(this)" type="button">Change
                        </button>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="container">
                        <div class="btn-group navbar-btn-group group-btn-upd-del" role="group">
                            <button type="button" class="btn btn-default" id="Project{{project.id}}UpdateBtn"
                                    onclick="updateProject(this)"><span
                                    class="glyphicon glyphicon-pencil"
                                    aria-hidden="true"
                                    style="color: black;"></span>
                            </button>
                            <button type="button" class="btn btn-default" id="Project{{project.id}}DeleteBtn"
                                    onclick="deleteProject(this)"><span class="glyphicon glyphicon-trash"
                                                                        aria-hidden="true"
                                                                        style="color: black;"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</form>

<!--form for create new Task in Project-->
<ul class="list-group collapse" id="collapse{{project.id}}">
    <li class="list-group-item" style="radius: 0px">
        <form id="Task{{project.id}}CreateForm" method="post">{% csrf_token %}
            <div class="form-group" style="margin-top: 1px; margin-bottom: 1px;">
                <span class="glyphicon glyphicon-plus" aria-hidden="true" style="color: gray;"></span>
                <input type="text" id="newTaskInput" name="task_name" form="Task{{project.id}}CreateForm" required>
                <input type="hidden" form="Task{{project.id}}CreateForm" name="project_id" value="{{project.id}}">
                <button type="button" class="btn btn-xs btn-default newTaskButton" id="Task{{project.id}}Create"
                        onclick="createTask(this)">
                    Add Task
                </button>
            </div>
        </form>
    </li>

    <div id="Task{{project.id}}List">

    </div>
</ul>
<br id="br{{project.id}}">

{% endfor %}
