{% extends 'managePage/base.html' %}


{% block content %}

<div class="container" id="overflow">
    {% for project in projects_list %}

    <form class="todo-content" id="navbar{{project.id}}" method="post">{% csrf_token %}
        <nav class="navbar projectbar">
            <div class="row">
                <div class="container-fluid">
                    <div class="col-md-11">
                        <h3 class="navbar-text project-name chevron" data-toggle="collapse"
                            href="#collapse{{project.id}}">
                            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></h3>
                        <h3 class="navbar-text project-name">
                            <span class="glyphicon glyphicon-list" aria-hidden="true"></span></h3>
                        <h3 class="navbar-text project-name" id="Project{{project.id}}Text">
                            {{project.project_name}}</h3>
                        <div class="form-group navbar-text projectUpdateForm"
                             id="Project{{project.id}}UpdateForm" hidden>
                            {% csrf_token %}
                            <input type="text" placeholder="Change your project" name="updatedProjectName"
                                   style="width:85%">
                            <input type="hidden" name="id" value="{{project.id}}">
                            <button class="btn btn-sm btn-default newTaskButton" id="Project{{project.id}}Update"
                                    onclick="updateProjectSend(this)" type="button">Change
                            </button>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="container">
                            <div class="btn-group navbar-btn-group group-btn-upd-del" role="group">
                                <button type="button" class="btn btn-default" id="Project{{project.id}}UpdateBtn"
                                        onclick="updateProject(this)"><span
                                        class="glyphicon glyphicon-pencil"
                                        aria-hidden="true"
                                        style="color: black;"></span>
                                </button>
                                <button type="button" class="btn btn-default" id="Project{{project.id}}DeleteBtn"
                                        onclick="deleteProject(this)"><span class="glyphicon glyphicon-trash"
                                                                            aria-hidden="true"
                                                                            style="color: black;"></span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </form>

    <!--form for create new Task in Project-->
    <ul class="list-group collapse" id="collapse{{project.id}}">
        <li class="list-group-item" style="radius: 0px">
            <form id="Task{{project.id}}CreateForm" method="post">{% csrf_token %}
                <div class="form-group" style="margin-top: 1px; margin-bottom: 1px;">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true" style="color: gray;"></span>
                    <input type="text" id="newTaskInput" name="task_name" form="Task{{project.id}}CreateForm" required>
                    <input type="hidden" form="Task{{project.id}}CreateForm" name="project_id" value="{{project.id}}">
                    <button type="button" class="btn btn-xs btn-default newTaskButton" id="Task{{project.id}}Create"
                            onclick="createTask(this)">
                        Add Task
                    </button>
                </div>
            </form>
        </li>

        <div id="Task{{project.id}}List">
            {% for task in tasks_list %}
            {% if task.project_id == project %}
            <!--List with tasks-->

            <li class="list-group-item" id="Task{{task.id}}Task"  value="{{project.id}}" style="radius: 0px" draggable="true" ondragstart="startdrag(event)" ondragover="allowDrop(event)" ondrop="onDrop(event)">
                <div>
                    <div class="form-group" style="margin-top: 3px; margin-bottom: 3px;">
                        <input id="{{task.id}}Checkbox" value="{{project.id}}" onclick="checkTask(this)" type="checkbox" {% if task.status is True %} checked {% endif %}>
                        <span class="border-right-0"
                              style="margin-left: 10px;border-left: 2px dotted black;"></span>
                              <span class="glyphicon glyphicon-sort" aria-hidden="true" style="color: gray; margin-left: 1%;"></span>
                        <label class="border-right-0 task_name" for="{{task.id}}Checkbox" id="Task{{task.id}}Text" {% if task.status is True %} style="color: green;text-decoration:line-through" {% endif %}>{{ task.task_name }}</label>
                        <div class="form-group task-btgroups deadline" id="Task{{task.id}}DeadlineForm" hidden>
                        	{% csrf_token %}
                        	<input type="date" name="deadline">
                        	<input type="hidden" name="id" value="{{task.id}}">
                        	<input type="hidden" name="project_id" value="{{project.id}}">
                        	<button class="btn btn-xs btn-default newTaskButton" id="Task{{task.id}}Deadline"
                                    onclick="updateDeadline(this)" type="button">Set
                        	</button>
                        </div>
                        <div class="form-group task-btgroups updTask"
                             id="Task{{task.id}}updateForm" hidden>
                            {% csrf_token %}
                            <input type="text" placeholder="Change your task" name="updatedTaskName"
                                   style="width:85%">
                            <input type="hidden" name="id" value="{{task.id}}">
                            <button class="btn btn-xs btn-default newTaskButton" id="Task{{task.id}}update"
                                    onclick="updateTaskSend(this)" type="button">Change
                            </button>
                        </div>

                        <div class="btn-group task-btgroups" role="group">                            
                            <button type="button" class="btn btn-xs task-buttons" id="Task{{task.id}}updater"
                                    onclick="updateTask(this)"><span
                                    class="glyphicon glyphicon-pencil"
                                    aria-hidden="true"
                                    style="color: gray;"></span>
                            </button>
                            <button type="button" class="btn btn-xs task-buttons" id="Task{{task.id}}delete"
                                    onclick="deleteTask(this)"><span
                                    class="glyphicon glyphicon-trash"
                                    aria-hidden="true"
                                    style="color: gray;"></span>
                            </button>
                            <h6 class="createDate" id="Task{{task.id}}createDate">{{task.createData}}</h6>
                            <progress id="Task{{task.id}}Progress" value="{{task.percent}}" max="100"></progress>
                            <h6 class="deadlineDate" id="Task{{task.id}}deadlineDate">{{task.deadline}}</h6>         
                        </div>
                    </div>
                </div>
            </li>
            {% endif %}
            {% endfor %}
        </div>
    </ul>
    <br id="br{{project.id}}">

    {% endfor %}
</div>
<!-- Modal for add project -->
<div class="modal fade" id="projectModalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" id="projectAddModalWindow" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Create Project</h2>
            </div>
            <div class="modal-body">
                <form id="newProject" method="post">{% csrf_token %}
                    <div class="form-group">
                        <label for="newProjectName">What is your new project?</label>
                        <input type="text" name="projectName" id="newProjectName" form="newProject"
                               class="form-control" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" id="createProject" class="btn btn-primary">Add Project</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content%}