#addToDoList {
    position: absolute;
    left: 45%;
    bottom: 3%;
}
.navbar {
    background-color: #3073ad;
    border-color: #245580;
    border-radius: 0px;
    border-color: #000;
}

.btn {
    border-color: #000;
}

#greetings {
    font-family: Haettenschweiler;
	font-size: 40px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
	color: white;
}

body {
    background-image: url('../html-background.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    overflow-x:hidden;
}

#login {
    margin-left: 8%;
}

#overflow {
    height: 760px;
    width: 50%;
    overflow-y: auto;
    overflow-x: hidden;

}

.todo-content {
    background-color: white;
    border-style: groove;
    border-width: 1px;
    border-radius: 5px;
}

.navbar-btn-group {
    margin-top: 12px;
}

.project-name{
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.chevron{
    margin-right: 0px;
    margin-left: 0px;
}

.task-buttons {
    padding: 1px 6px;
    border-color: white;
}
.task-btgroups {
position: absolute;
    left: 92%;
}

#projectAddModalWindow{margin: 20% auto;}
#newTaskInput{
    width:85%;
    padding: 1px 1px;
    margin-left: 5px;
    margin-right: 5px;
}
.newTaskButton{
    margin-bottom: 3px;
}
.projectbar{margin-bottom: 0px;}
.group-btn-upd-del{margin-left: -5%;}

.updTask {
    margin-top: -3%;
    margin-left: -69%;
    width: 70%;
}
.task_name {margin-left: 10px; color: #c6462a}
.deadline {
	margin-top: -3%;
    margin-left: -91%;
}

progress[value] {
	margin-left: -1004%;
	margin-bottom: -31%;
	width: 819%;
	height: 8px;
	
	background-color: #eee;
  	
}
progress[value]::-moz-progress-bar { 
  background-image:
    -moz-linear-gradient(
      135deg, 
      transparent 33%, 
      rgba(0, 0, 0, 0.1) 33%, 
      rgba(0, 0, 0, 0.1) 66%, 
      transparent 66% 
    ),
    -moz-linear-gradient(
      top, 
      rgba(255, 255, 255, 0.25), 
      rgba(0, 0, 0, 0.25)
    ),
    -moz-linear-gradient(
      left, 
      #09c, 
      #f44
    );
  border-radius: 2px; 
  background-size: 35px 20px, 100% 100%, 100% 100%; 
}
.alert {
	width: 70%;
	margin-left: 16%;
}
.projectUpdateForm {
	margin-top:2.2%;
	width:82%;
}
.createDate {
	margin-left: -1015%;
	margin-bottom: -55%;
	margin-top: 43%;
	font-size: 8px;
}
.deadlineDate {
	margin-left: -96%;
	margin-top: 9%;
	font-size: 8px;
}
