#addToDoList {
    position: absolute;
    left: 45%;
    bottom: 3%;
}
.navbar {
    background-color: #3073ad;
    border-color: #245580;
    border-radius: 0px;
    border-color: #000;
}

.btn {
    border-color: #000;
}

#greetings {
    font-family: Haettenschweiler;
	font-size: 40px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
	color: white;
}

body {
    background-image: url('../html-background.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    overflow-x:hidden;
}

#login {
    margin-left: 8%;
}

#overflow {
    height: 760px;
    width: 50%;
    overflow-y: auto;
    overflow-x: hidden;

}

.todo-content {
    background-color: white;
    border-style: groove;
    border-width: 1px;
    border-radius: 5px;
}

.navbar-btn-group {
    margin-top: 12px;
}

.project-name{
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.chevron{
    margin-right: 0px;
    margin-left: 0px;
}

.task-buttons {
    padding: 1px 6px;
    border-color: white;
}
.task-btgroups {
position: absolute;
    left: 88%;
}

#projectAddModalWindow{margin: 20% auto;}
#newTaskInput{
    width:85%;
    padding: 1px 1px;
    margin-left: 5px;
    margin-right: 5px;
}
.newTaskButton{
    margin-bottom: 3px;
}
.projectbar{margin-bottom: 0px;}